.navagation
{
    display: flex;
    align-items: center;

    background-color: #D2DBE0;

    -webkit-app-region: drag;
}

.navagation-logo
{
    display: inline-flex;

    margin: .2em 0 .2em 1em;

    font-family: roboto;
    font-size: 14px;
    letter-spacing: 1.25px;
    color: #82929A;
    font-weight: 200;
}

.navagation-windowcontrol
{
    display: inline-flex;

    margin-right: .4em;

    cursor: pointer;

    -webkit-app-region: no-drag;
}

#minimize
{
    margin-left: auto;
}
#close
{
    margin-right: 1em;
}