*
{
    padding: 0;
    margin: 0;
}

html, body
{
    cursor: default;
    background-color: #fafafa
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/MaterialIcons-Regular.ttf");
}